@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.leaflet-tooltip {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #3b82f6;
  color: #1e3a8a;
  font-weight: bold;
  font-family: sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}